diffusers==0.30.2
matplotlib==3.9.2
openai==1.45.0
opencv_python==4.10.0.84
psutil==6.0.0
pygame==2.6.0
PyQt6==6.7.1
PyQt6_sip==13.8.0
SoundFile==0.10.2
stable_audio_tools==0.0.16
torch==2.4.1
torchaudio==2.4.1
